# Binaries for programs and plugins
*.exe *.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Ignore any erroneously created databases
*.db

# Ignore server binary
cmd/mixer-server/mixer-server
# Ignore migration binary
cmd/populate/populate
# Ignore register binary
cmd/register/register

# Ignore python version file for testing helper
.python-version
